<!-- Global Js required for entire project -->

<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© All Rights Reserved.
        <a href="https://www.hyvaitsolutions.com">HYVA IT Solutions</a><span>&nbsp;2019</span>
    </div>
    <!-- Copyright -->
</footer>


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/popper/umd/popper.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js"></script>
<script src="/assets/js/front.js"></script>