<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <!-- Navbar Header-->
                <div class="navbar-header">

                        
                        <div class="brand-text brand-small">
                            <strong>Eatinng</strong>
                        </div>
                </div>

                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="#" style="font-size: 30px"> <span><strong
                                style="font-family: 'Patrick Hand', cursive;color: #F5A84F;">Eatinng</strong></span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- Navbar Menu -->
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Logout    -->
                    
                </ul>
            </div>
        </div>
    </nav>
</header>